*{
	margin:0;
	padding:0;
	border:0;
	}
	
	body
	{
	 background:#FFF;	
	}
	
	p{
	color:#000;
	font:Verdana, Geneva, sans-serif;
	line-height:155%;
	padding:3%;
	text-indent:2%;
	text-align:justify;
	
	}
	
	h3
	{
		font-size:100%;
		font-weight:bold;
		line-height:155%;
		
		color:#000;
		text-align:center;
		text-transform:uppercase;
		padding:0;
	}
		
	a
	{
		color:#000;
		text-decoration:none;
		font-weight:bold;
	}
	
	a:hover
	{
		color:#005883;	
	}
	
	img
	{
		display:block;
		margin:0 auto;
		max-width:100%;
		height:auto;
		width:auto;
		margin-bottom:-4px; 	
	}
	
	#wrapper{
	max-width:1200px;
	margin:0 auto;	
	}
	
	#banner-wrapper
	{
	max-width:1200px;
	margin:0 auto;
	padding:0 0 3% 0;
	font-size:9px;	
	}
	
	
	
	header
	{
		width:100%;
		height:100px;
		top:0;
		left:0;
		z-index:1;
		position:relative
	}
	
	header #logo img {
	
	margin:20px;
	float: left;
	width:500px;	
		
	}

	/* Navegacion*/
	
	nav
	{
	float: left;
	padding: 25px 0 0 0;	
	}
	
	#menu-icon
	{
	display:none;	
	}
	
	ul
	{
		list-style:none;	
	}
	
	nav ul li a 
	{
		color:#000	
	}
	
	nav ul li 
	{
		font-size:100%;
		display:inline-block;
		float:left;
	}
	
	
	
	.current
	{
		color:#000	
	}
	
	.one-third
	{
		width: 23%;
		float:left;
		padding:10px;
		text-align:center;
		
	}
	
	.twitter-timeline
	{
		width: 23%;
		float:inherit;
		padding:5px;
		text-align:center;
	}
	
	.icon-wrap
	{
	margin:0 auto;
	width:5px;
	height:1px;
	background-color:#005883;
	border-radius:125px;
	text-align:left;
	margin-top:3%;	
	}
	
	.icon-wrap
	{
		text-align:center;
		color:#FFF;
		font-size:200%;
		padding:inherit;
		width:70px;	
		height:70px;
	}
	
	
	footer 
	{
		background:#005883;
		width:100%;
		overflow:auto;
	}
	
	.icon-text
	{
		width:100%;
		margin: 0 auto;
			
	}
	
	.icon-text-icon
	{
	float: left;
	width: 20%;
	padding: 4%;	
	}
	
	.icon-text-text
	{
	float: left;
	width: 60%;
	padding: 4% 4% 2% 0;	
	}
	
	.footer-nav
	{
	text-align:center;
		
	}
	
	.footer-nav a
	{
		font-size: 160%;
		color:#FFF;
		font-weight:300;	
	}
	
		.footer-nav a:hoover
	{
		color:#FFF;
	}
	
	
	
	
	
  #menu, #menu ul {
            list-style:none;
            padding:0;
            margin:0;
        }
        /* hace referencia a los primeros enlaces */
        #menu li {
            float:left;
            position:relative;
            width: 10em;
        }
        /* hace referencia a los segundos submenus */
        #menu li ul {
            position:absolute;
            display:none;
			
        }
		
		  /* hace referencia al formato de los enlaces */
        #menu a {
            display:block;
            border-right:1px solid #fff;

            color:#3B3B3B;
            text-decoration:none;
            padding:10px;
        }
        /* hace referencia al formato 
           cuando se pasa el raton por encima del enlace */
        #menu a:hover {
            background-color:#005883;
            color:#fff;
        }
        /* hace referencia a los bloques de los segundos menus en adelante */
        #menu ul {
            border-top:1px solid #fff;
			color:#FFF;
			
        }
        /* hace referencia al formato
           del enlaces de los segundos menus en adelante */
        #menu ul a {
            border-right:none;
            border-right:1px solid #fff;
            border-bottom:1px solid #fff;
            border-left:1px solid #fff;
            background:#005883;
        }
		
		     /* muestra los menus de segundo nivel */
        #menu li:hover ul {
            display:block;
		}
		
		.info_autores {
			float: left;
			width: 100%;
			background: #fff;
			padding: 30px 20px;
			text-align: center;
			margin: 0 0 28px
		}

		.info_autores figure {
			width: 200px;
			height: 170px;
			border-radius: 100%;
			display: inline-block;
			margin-bottom: 15px;
		}

		.info_autores img {
			width: 200px;
			height: 170px;
			border-radius: 100%;
		}

		.info_autores p {
			color: #2a2a2a;
			font-size: 13px;
			line-height: 20px;
			font-weight: 400;
			text-align: center;
		}
  
